name: ci
on:
  push:
    branches:
      - main  
    paths:
      - 'src/**'
      - '.github/workflows/ci.yaml'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - 
        name : Add SHORT_SHA Environment Variable
        id   : short-sha
        shell: bash      
        run  : echo "SHORT_SHA=`git rev-parse --short HEAD`" >> $GITHUB_EN
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: jbharathjinkala/python-app:${{ env.SHORT_SHA }}